/*header abt*/

.logo .logoabt{
    padding-left: 2rem; 
    width: 13%;
    height: auto;

}
/* marge header abt*/
.mrgabt{
    padding: 0.3rem;
    background-color: #228BFF;
}

/* titre principal*/
.titre{
    text-align: center;
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
/* contenu du main */
main img{
    transition: transform 0.3s ease;
    border-radius: 2rem;
}
main img:hover{
    transform: scale(1.08);
}
main{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.contenu{
     padding: 2rem;
    text-align: left;
    border-radius: 2rem;
    border: 0.4rem solid #228BFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    background-color:  #2B2B2B;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* image */
.image{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


/*citation fin de page */

.citation{
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    border: 0.2rem solid #000000;
    margin-bottom: 5rem;
}


@media(max-width : 393px){
    .titre{
        font-size: 1.1em;
    }
    main{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    main img {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
   .image{
         text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .textimg{
        width: 100%;
         display: flex;
        flex-wrap: wrap;
    }
    .contenu{
        font-size: 0.8em;
        margin-top: 40px;
        margin: 5px;
    }
    .citation{
        width: 80%;
        margin-top: 40px;
        font-size: 0.7em;
    }
}