
/* page contact */

main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

/*dans cette partie du main c'est ici qu'il y a le formulaire*/
main .message{
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: start;
    border-radius: 1rem;
    border: 0.4rem solid #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
    background-color:  #2B2B2B;
    margin-bottom: 4rem;
}
main .nom{
    display: flex;
    justify-content: center;
}
main .texte{
    display: flex;
    flex-direction: column;
    align-items: start;
}

/*bouton submit*/

.submit{
    margin-left: auto;
    margin-right: auto;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Pour que le main prenne tout l'espace restant */
main {
    flex: 1;
}



@media(max-width : 393px){
    main{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    main .message{
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8em;
        width: 90%;
        height: auto;
    }
    .message .nom input{
        width: 80%;
    }
    .message textarea{
        width: 100%;
    }
    
   
}